<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Recipes</title>
</head>

<body>
    <!-- //// HEADER //////// -->
    <header>
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container d-flex justify-content-between">
                <a href="/dashboard" class="navbar-brand d-flex align-items-center">
                    <strong class="text-warning">Recipes</strong>
                </a>
                <div class="right-nav-bar">
                    <a href="/logout" class="btn btn-danger">LogOut</a>
                    <a class="btn btn-secondary" href="/dashboard">DASHBOARD</a>
                </div>
            </div>
        </div>
    </header>

    <!-- //// MAIN AREA //////// -->
    <main role="main">
        <div class="container mt-4">

            <h1 class="text-primary">
                Edit Recipe {{ user.first_name }}
            </h1>

            {% for message in get_flashed_messages() %}
                <!-- Displays any existing Error Messages-->
                <p class="alert alert-danger">
                    {{ message }}
                </p>
            {% endfor %}

            <form class="row" action='/recipes/{{ recipe.id }}/edit/post' method='post'>
                <!-- //// LEFT COLUMN //////////////////////////////////// -->
                <div class="col-7 bg-dark rounded p-3 md-3">
                    <div class="form-group mb-2">
                        <label class="form-label" for="name">Recipe Name:</label>
                        <input class="form-control" type="text" id="name" name="name" value="{{ recipe.name }}">
                    </div>

                    <div class="form-group mb-2">
                        <label class="form-label" for="description">Description:</label>
                        <input class="form-control" type="text" id="description" name="description"
                            value="{{ recipe.description }}">
                    </div>
                    <div class="form-group mb-2">
                        <label for="instructions">Instructions:</label>
                        <textarea class="form-control" name="instructions" id="instructions"
                            rows="3">{{ recipe.instructions }}</textarea>
                    </div>
                    <input class="btn btn-warning text-white" type="submit" value="EDIT"> <!-- Submit form button-->
                </div>
                <div class="col-1">
                    <!--GUTTER-->
                </div>
                <!-- //// RIGHT COLUMN /////////////////////////////////// -->
                <div class="col-4 bg-dark rounded p-3">
                    <div class="form-group mb-2">
                        <label for="date_made_on">Date Made On:</label>
                        <input class="text-dark" type="date" id="date_made_on" name="date_made_on"
                            value="{{ recipe.date_made_on }}">
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <p class="m-3">
                            Cooking Time:
                        </p>
                        <div>
                            {% if recipe.under_30_minutes == 1 %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="under_30_minutes" value="0">
                                <label class="form-check-label" for="under_30_minutes">
                                    Over 30 Minutes
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="under_30_minutes" value="1" checked>
                                <label class="form-check-label" for="under_30_minutes">
                                    Under 30 Minutes
                                </label>
                            </div>
                            {% else %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="under_30_minutes" value="0" checked>
                                <label class="form-check-label" for="under_30_minutes">
                                    Over 30 Minutes
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="under_30_minutes" value="1">
                                <label class="form-check-label" for="under_30_minutes">
                                    Under 30 Minutes
                                </label>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>